<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
%d{yyyy-MM-dd'T'HH:mm:ss.SSS}
[%thread] %-5level %logger - %msg%n
      </pattern>
    </encoder>
  </appender>
  <root level="TRACE">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>